 .mainBackground {
    background: url(http://wallpapershdnow.com/images/tv-shows/drama/gossip-girl/gossip-girl-wallpaper-9.jpg);
    height: 100vh;
    background-size: cover;
} 
.profile {
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
}
.AllGossip {
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
}
.Gossip{
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
}
.upload {
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.signIn{
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.signUp {
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
}
.col {
border-radius: 5px;
}
.datTag {
    margin: 0 auto;
    font-size: 22px;
    
}
.welcome{
    margin: 0 auto;
    font-size: 42px;
    color: #3483F6
}
.icon {
    background-color: black;
    color: white;
    font: 18px;
}
.pop {
    margin: 0 auto;
    color: white;
}
.profile {

}
/* 
    * {border: red 2px solid;
} */