 .mainBackground {
    background: url(http://wallpapershdnow.com/images/tv-shows/drama/gossip-girl/gossip-girl-wallpaper-9.jpg);
    height: 100vh;
    background-size: cover;
    margin-bottom: 40px;
} 
.profile {
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
    background-size: 100vh;;
    margin-top: 65px;
}

.AllGossip {
  margin-top: 65px;
  
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
}
.Gossip{
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
}
.upload {
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);


}

.signIn{
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.signUp {
    background-image: url(https://cdn.hipwallpaper.com/i/60/9/eLQcG4.jpg);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
}
.datTag {
    margin: 0 auto;
    font-size: 22px;
    
}
.welcome{
    font-size: 42px;
    color: #3483F6;
    margin-top: 60px;
}
.icon {
    background-color: black;
    color: white;
    font: 18px;
}
.pop {
    margin: 0 auto;
    color: white;
}

 
    /* * {border: red 2px solid;
}  */